In [1]:
#Using Dask for Distributed Data Analysis
import dask
import dask.dataframe as dd
from dask.diagnostics import ProgressBar

In [2]:
#Reading in the data
kick_data = dd.read_csv("C:\\Users\\Bismark\\Desktop\\Mike_Ansah_assignments\\Sec_Sem\Results\\kick_data_2016_new_2.csv")

In [3]:
print(kick_data.npartitions)

1

In [4]:
kick_data.map_partitions(len).compute()

0    323750
dtype: int64

In [74]:
kick_data.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 12 entries, Unnamed: 0 to usd_pledged
dtypes: object(7), float64(4), int64(1)

In [50]:
kick_data.columns.isna().sum()

0

In [51]:
# Checking Data characteristics in Dask
with ProgressBar():
    display(kick_data.head())

[########################################] | 100% Completed |  1.3s

,Unnamed: 0,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged
0,0,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000.0,2015-08-11 12:12:28,0.0,failed,0.0,GB,0.0
1,1,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000.0,2013-01-12 00:20:50,220.0,failed,3.0,US,220.0
2,2,Music,Music,USD,2012-04-16 04:24:11,5000.0,2012-03-17 03:24:11,1.0,failed,1.0,US,1.0
3,3,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500.0,2015-07-04 08:35:03,1283.0,canceled,14.0,US,1283.0
4,4,Restaurants,Food,USD,2016-04-01 13:38:27,50000.0,2016-02-26 13:38:27,52375.0,successful,224.0,US,52375.0

In [52]:
#Checking the data types of coulmns
kick_data.dtypes

Unnamed: 0         int64
category          object
main_category     object
currency          object
deadline          object
goal             float64
launched          object
pledged          float64
state             object
backers          float64
country           object
usd_pledged      float64
dtype: object

In [53]:
# Data Cleaning 
#Added column unnamed:0 needs to be dropped
with ProgressBar():
    display(kick_data.drop('Unnamed: 0', axis=1).head())

[########################################] | 100% Completed |  1.4s

,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged
0,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000.0,2015-08-11 12:12:28,0.0,failed,0.0,GB,0.0
1,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000.0,2013-01-12 00:20:50,220.0,failed,3.0,US,220.0
2,Music,Music,USD,2012-04-16 04:24:11,5000.0,2012-03-17 03:24:11,1.0,failed,1.0,US,1.0
3,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500.0,2015-07-04 08:35:03,1283.0,canceled,14.0,US,1283.0
4,Restaurants,Food,USD,2016-04-01 13:38:27,50000.0,2016-02-26 13:38:27,52375.0,successful,224.0,US,52375.0

In [54]:
kick_data.columns

Index(['Unnamed: 0', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd_pledged'],
      dtype='object')

In [55]:
kick_data_1 = kick_data.drop('Unnamed: 0', axis=1).head()

In [56]:
kick_data_1.head()

,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged
0,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000.0,2015-08-11 12:12:28,0.0,failed,0.0,GB,0.0
1,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000.0,2013-01-12 00:20:50,220.0,failed,3.0,US,220.0
2,Music,Music,USD,2012-04-16 04:24:11,5000.0,2012-03-17 03:24:11,1.0,failed,1.0,US,1.0
3,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500.0,2015-07-04 08:35:03,1283.0,canceled,14.0,US,1283.0
4,Restaurants,Food,USD,2016-04-01 13:38:27,50000.0,2016-02-26 13:38:27,52375.0,successful,224.0,US,52375.0

In [57]:
kick_data_1.dtypes

category          object
main_category     object
currency          object
deadline          object
goal             float64
launched          object
pledged          float64
state             object
backers          float64
country           object
usd_pledged      float64
dtype: object

In [58]:
#Converting columns deadline and launched to datetime data types
from datetime import datetime

deadline_date_parsed = kick_data_1['deadline'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

In [59]:
kick_data_1_dead1 = kick_data_1.drop('deadline', axis=1)

kick_data_1_dead2 = kick_data_1_dead1.assign(deadline = deadline_date_parsed)

In [60]:
kick_data_1_dead2.head()

,category,main_category,currency,goal,launched,pledged,state,backers,country,usd_pledged,deadline
0,Poetry,Publishing,GBP,1000.0,2015-08-11 12:12:28,0.0,failed,0.0,GB,0.0,2015-10-09 11:36:00
1,Narrative Film,Film & Video,USD,45000.0,2013-01-12 00:20:50,220.0,failed,3.0,US,220.0,2013-02-26 00:20:50
2,Music,Music,USD,5000.0,2012-03-17 03:24:11,1.0,failed,1.0,US,1.0,2012-04-16 04:24:11
3,Film & Video,Film & Video,USD,19500.0,2015-07-04 08:35:03,1283.0,canceled,14.0,US,1283.0,2015-08-29 01:00:00
4,Restaurants,Food,USD,50000.0,2016-02-26 13:38:27,52375.0,successful,224.0,US,52375.0,2016-04-01 13:38:27

In [61]:
launched_date_parsed = kick_data_1_dead2['launched'].apply(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

In [62]:
kick_data_1_launch1 = kick_data_1_dead2.drop('launched', axis=1)

kick_data_1_launch2 = kick_data_1_launch1.assign(launched = launched_date_parsed)

In [63]:
kick_data_1_launch2.head()

,category,main_category,currency,goal,pledged,state,backers,country,usd_pledged,deadline,launched
0,Poetry,Publishing,GBP,1000.0,0.0,failed,0.0,GB,0.0,2015-10-09 11:36:00,2015-08-11 12:12:28
1,Narrative Film,Film & Video,USD,45000.0,220.0,failed,3.0,US,220.0,2013-02-26 00:20:50,2013-01-12 00:20:50
2,Music,Music,USD,5000.0,1.0,failed,1.0,US,1.0,2012-04-16 04:24:11,2012-03-17 03:24:11
3,Film & Video,Film & Video,USD,19500.0,1283.0,canceled,14.0,US,1283.0,2015-08-29 01:00:00,2015-07-04 08:35:03
4,Restaurants,Food,USD,50000.0,52375.0,successful,224.0,US,52375.0,2016-04-01 13:38:27,2016-02-26 13:38:27

In [64]:
kick_data_1_launch2.dtypes

category                 object
main_category            object
currency                 object
goal                    float64
pledged                 float64
state                    object
backers                 float64
country                  object
usd_pledged             float64
deadline         datetime64[ns]
launched         datetime64[ns]
dtype: object

In [66]:
#Checking for missing values
missing_values = kick_data_1_launch2.isnull().sum()

In [67]:
missing_values

category         0
main_category    0
currency         0
goal             0
pledged          0
state            0
backers          0
country          0
usd_pledged      0
deadline         0
launched         0
dtype: int64

In [70]:
kick_data_1_launch2.describe()

               goal       pledged     backers   usd_pledged
count      5.000000      5.000000    5.000000      5.000000
mean   24100.000000  10775.800000   48.400000  10775.800000
std    22512.218904  23260.727562   98.322429  23260.727562
min     1000.000000      0.000000    0.000000      0.000000
25%     5000.000000      1.000000    1.000000      1.000000
50%    19500.000000    220.000000    3.000000    220.000000
75%    45000.000000   1283.000000   14.000000   1283.000000
max    50000.000000  52375.000000  224.000000  52375.000000